@import '../src/flex-blocks/grid.scss';

$break-colors: (
  xs: #FB2B07,
  sm: #A3FF08,
  md: #22FF58,
  lg: #15ABFE
);

body {
  font-family: helvetica, sans-serif;
  line-height: 1.3;
  font-size: 1rem;
  padding: 10px;
}

[data-col] {
  padding: 2px;
}

[data-col] > div {
  min-height: 40px;
  background-color: rgba(#000,0.2);
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  padding: 10px;
}

@each $break, $map in $breakpoints {
  [data-row~="#{$break}"] [data-col] {
    @include respond-to($break) {
      background-color: map-get($break-colors, $break);
    }
  }
}

@each $break, $color in $break-colors {
  [data-col*="#{$break}"] > div, .br-#{$break} {
    @include respond-to($break) {
      background-color: $color;
    }
  }
}

pre {
  padding: 10px;
  background-color: #052442;
  color: #C7FFDC;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(#000,0.3);
  max-height: 10em;
  overflow-y: auto;
  font-size: 0.9em;
}
